In [43]:
# importing all necessary libraries
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [44]:
# reading the dataset
data = pd.read_csv('data.csv')
data.shape

(18207, 89)

In [45]:
# lets also check the columns in the data
data.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

### Find the Most Expensive Players whose contracts are going to Expire Soon

In [46]:
import warnings
warnings.filterwarnings('ignore')

# we have to filter players whose contracts are going to be valid till 2020 only.
x = data[data['Contract Valid Until'] == "2020"]

# defining a function for cleaning the wage column
def extract_value_from(column):
    out = column.replace('€', '')
    if 'M' in out:
        out = float(out.replace('M', ''))*1000000
    elif 'K' in column:
        out = float(out.replace('K', ''))*1000
    return float(out)

# applying the function to the wage column so that we can sort the highest paid footballers
x['Wage'] = x['Wage'].apply(extract_value_from)

# Now we have to sort those players who are highest paid
x[['Name','Nationality','Club','Age', 'Wage']].sort_values(by = 'Wage', ascending = False).head(10)

            Name Nationality                 Club  Age      Wage
6      L. Modrić     Croatia          Real Madrid   32  420000.0
8   Sergio Ramos       Spain          Real Madrid   32  380000.0
5      E. Hazard     Belgium              Chelsea   27  340000.0
13   David Silva       Spain      Manchester City   32  285000.0
3         De Gea       Spain    Manchester United   27  260000.0
49    Jordi Alba       Spain         FC Barcelona   29  250000.0
24  G. Chiellini       Italy             Juventus   33  215000.0
31    C. Eriksen     Denmark    Tottenham Hotspur   26  205000.0
21     E. Cavani     Uruguay  Paris Saint-Germain   31  200000.0
46      K. Navas  Costa Rica          Real Madrid   31  195000.0

### Make a Function to Generate a Report for Players

In [54]:
def report(player):
    return data[data['Name'] == player][['Nationality','Club',
                                         'Overall','Potential',
                                         'Contract Valid Until','Wage',
                                        'International Reputation']].reset_index(drop = True).T

report('L. Messi')

                                     0
Nationality                  Argentina
Club                      FC Barcelona
Overall                             94
Potential                           94
Contract Valid Until              2021
Wage                             €565K
International Reputation             5

### Compare Indian Footballers with Russian Footballers

In [56]:
# lets first filter all the Russian and Indian Footballers
x = data[(data['Nationality'] == 'Russia') | (data['Nationality'] == 'India')]

# now let's group this datasets based on nationality and aggregate on Potential and Overall Scores
x[['Nationality','Overall','Potential']].groupby(['Nationality']).agg('mean').style.background_gradient(cmap = 'copper')

### Find the Most Popular Footballers under 20

In [58]:
# lets first filter all the under 20 players and then sort with their Values

x = data[data['Age'] < 20]

# defining a function for cleaning the wage column
def extract_value_from(column):
    out = column.replace('€', '')
    if 'M' in out:
        out = float(out.replace('M', ''))*1000000
    elif 'K' in column:
        out = float(out.replace('K', ''))*1000
    return float(out)

# applying the function to the wage column so that we can sort the highest paid footballers
x['Value'] = x['Value'].apply(extract_value_from)

x[['Name','Age','Value']].sort_values(by = 'Value', ascending = False).head(10).style.background_gradient(cmap = 'copper')