In [2]:
# importing all necessary libraries
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# reading the dataset
data = pd.read_csv('fifa_players.csv')
data.shape

(18207, 89)

### Find the Most Expensive Players whose contracts are going to Expire Soon

In [10]:
# check columns
data.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [41]:
# select interesting columns
interesting_data = data[['Name', 'Value', 'Contract Valid Until']]
interesting_data

                     Name    Value Contract Valid Until
0                L. Messi  €110.5M                 2021
1       Cristiano Ronaldo     €77M                 2022
2               Neymar Jr  €118.5M                 2022
3                  De Gea     €72M                 2020
4            K. De Bruyne    €102M                 2023
...                   ...      ...                  ...
18202        J. Lundstram     €60K                 2019
18203  N. Christoffersson     €60K                 2020
18204           B. Worman     €60K                 2021
18205      D. Walker-Rice     €60K                 2019
18206           G. Nugent     €60K                 2019

[18207 rows x 3 columns]

In [45]:
# choose players whose contracts expire in 2022
expire_soon = interesting_data.loc[interesting_data['Contract Valid Until'] == '2022']
expire_soon

                    Name    Value Contract Valid Until
1      Cristiano Ronaldo     €77M                 2022
2              Neymar Jr  €118.5M                 2022
11              T. Kroos   €76.5M                 2022
15             P. Dybala     €89M                 2022
18         M. ter Stegen     €58M                 2022
...                  ...      ...                  ...
18132         Liu Yaoxin     €40K                 2022
18141         Chen Yajun     €60K                 2022
18155          Liu Guobo     €60K                 2022
18163           Wang Xin     €40K                 2022
18167             Wu Lei     €40K                 2022

[1477 rows x 3 columns]

In [46]:
# check data types
expire_soon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1477 entries, 1 to 18167
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  1477 non-null   object
 1   Value                 1477 non-null   object
 2   Contract Valid Until  1477 non-null   object
dtypes: object(3)
memory usage: 46.2+ KB

In [47]:
# since we've only got object types, we need to replace them with numerical values
def get_numeric_value(column):
    value = column.replace('€', '')
    if 'K' in column:
        value = float(value.replace('K', '')) * 1000
    elif 'M' in column:
        value = float(value.replace('M', '')) * 1_000_000
    else:
        value = float(value)
    return value

# transform values to numerical data
expire_soon['Value'] = expire_soon['Value'].apply(get_numeric_value)

# now select top 25 MVPs
expire_soon.sort_values(by=['Value'], ascending=False).head(25)

C:\Users\Christian\AppData\Local\Temp\ipykernel_14396\434151285.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expire_soon['Value'] = expire_soon['Value'].apply(get_numeric_value)

                  Name        Value Contract Valid Until
2            Neymar Jr  118500000.0                 2022
15           P. Dybala   89000000.0                 2022
25           K. Mbappé   81000000.0                 2022
1    Cristiano Ronaldo   77000000.0                 2022
11            T. Kroos   76500000.0                 2022
30                Isco   73500000.0                 2022
47           R. Lukaku   62500000.0                 2022
29          L. Insigne   62000000.0                 2022
36             G. Bale   60000000.0                 2022
56      Bernardo Silva   59500000.0                 2022
18       M. ter Stegen   58000000.0                 2022
62           R. Varane   50000000.0                 2022
65       Douglas Costa   46500000.0                 2022
77         M. Škriniar   46500000.0                 2022
87        A. Lacazette   45000000.0                 2022
35             Marcelo   43000000.0                 2022
155         O. Dembélé   40000000.0                 2022
88          K. Manolas   37500000.0                 2022
93          A. Sánchez   37500000.0                 2022
97          I. Perišić   37500000.0                 2022
115            N. Süle   36500000.0                 2022
37           H. Lloris   36000000.0                 2022
119         Marquinhos   35500000.0                 2022
101      R. Nainggolan   35500000.0                 2022
69         Azpilicueta   35000000.0                 2022

### Make a Function to Generate a Report for Players

### Compare German Footballers with Japanese Footballers

### Find the Most Popular Footballers under 20